<section class="front-hero h-screen">
	<div class="front-hero__content">
		<h2 class="front-hero__content--lead fade-right">
			<span class="mr-4">HIGH</span>SCHOOL</h2>
		<h2 class="front-hero__content--lead fade-right">
			<span>ROBOTICS</span>
			TEAM
		</h2>
		<p class="front-hero__content--sub fade-up">Based in Salem County, NJ</p>
		<a href="https://www.google.com" class="button fade-up">LEARN MORE</a>
	</div>
	<div class="front-hero__box"></div>
	<div class="front-hero__overlay"></div>
	<img class="front-hero__bg" src="{{ front_hero_image.url }}" alt="Front Hero Background"/>
	<div class="front-hero__follow">
		<p>Follow</p>
		<ul>
			{% for link in social_media %}
				<li>
					<a href="{{ link.url }}" target="_blank">{{ link.icon }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="front-hero__follow">
		<p>Follow</p>
		<ul>
			{% for link in social_media %}
				<li>
					<a href="{{ link.url }}" target="_blank">{{ link.icon }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
